core/src/main/resources/org/coordinatekit/crf/core/io/crf-structure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2025-present Andy Marek
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!--
  The fixed structural grammar for CRF training data documents. This grammar is library-owned and
  identical for every TagProvider; the per-TagProvider tag vocabulary is generated separately (see
  XmlTrainingData.generateSchema) and compiled together with this schema during validation.

  Tags are referenced via two disjoint wildcards, one per namespace case.

  - Namespaced tags (any namespace other than crf) use a strict wildcard, so a global element
    declaration must exist for each. The generated tag schema supplies those declarations when a
    target namespace is configured. A namespaced tag with no matching declaration fails validation,
    which is how a mistyped or unknown tag name is caught. Configuring a namespace opts into a
    closed, validated vocabulary.
  - No-namespace tags use a lax wildcard. They are validated against a declaration when one is
    present (the library compiles in the generated tag schema) and skipped when absent. This keeps
    the no-namespace path an open vocabulary and lets this schema validate a document standalone
    (e.g. in an IDE) without the generated tag schema, where strict would be unsatisfiable for a bare
    tag.

  Net effect, consistent with the optional target namespace: configure a namespace for a closed,
  validated vocabulary; leave it off for an open one.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:crf="https://coordinatekit.org/crf/schema"
           targetNamespace="https://coordinatekit.org/crf/schema"
           elementFormDefault="qualified">

    <xs:element name="Excluded" type="xs:string">
        <xs:annotation>
            <xs:documentation>A verbatim run of characters dropped by a tokenizer; whitespace is
                preserved.</xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- ##other (any namespace but crf), ##local (no namespace), and the crf-namespaced Excluded
         have pairwise-disjoint namespace sets, so Unique Particle Attribution holds. The ##other
         wildcard is strict: each namespaced tag needs a global declaration, which is how a mistyped
         tag is caught. The ##local wildcard is lax: no-namespace tags form an open vocabulary,
         validated against a declaration when present and skipped when absent, so this schema also
         works standalone. -->
    <xs:element name="Sequence">
        <xs:annotation>
            <xs:documentation>A single training example: a run of tag elements (in no namespace, or
                any namespace other than crf) interleaved with crf:Excluded runs.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:any namespace="##other"/>
                <xs:any namespace="##local" processContents="lax"/>
                <xs:element ref="crf:Excluded"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <!-- The element name is substituted in memory during validation when a custom root element name
         is configured. -->
    <xs:element name="Collection">
        <xs:annotation>
            <xs:documentation>The document root: a collection of sequences.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="crf:Sequence" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
